body {
  background-color: cadetblue;
  font-size: 100%;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
}
h2 {
  font-family: 'Arial Black';
  color: darkblue;
}

strong {
  color: yellow;
}

li {
  font-style: italic;
}

p {
  font-size: 1.2em;
}
