body {
  background-color: cadetblue;
  font-size: 100%;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
}
h2 {
  font-family: 'Arial Black';
  color: darkblue;
}

strong {
  color: yellow;
}

li {
  font-style: italic;
}

ol > li {
  font-weight: bold;
}

dl {
  font-weight: normal;
}
p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p::first-letter {
  font-size: 1.5em;
}
dt {
  color: cyan;
}
dd {
  color: ghostwhite;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
