div {
  width: 800px;
}
h3 {
  font-size: 22pt;
}

.clear {
  float: none;
  clear: both;
  visibility: hidden;
}

#users {
  color: darkblue;
  font-weight: bold;
  font-size: 15pt;
}
#users h3 {
  font-size: 20pt;
}

.post {
  border: 3px solid green;
  margin: 5px;
  padding: 5px;
}

#comments {
  border: 2px dotted darkred;
  margin: 20px;
  padding: 5px;
  width: 90%;
}
#comments h5 {
  margin: 0px;
}
.comment {
  width: 100%;
  color: green;
}

hr {
  color: brown;
}
